body {
    background-color: #F6F4F4;
}

header {
    border-bottom: 1px solid gray;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    background-image: url('../img/bg.jpg');
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
    color: purple;
}

.h6 {
    font-weight: 400;
    font-size: 0.9em;
      color: #F6F4F4;
}

.search {
    background-color: #1a1a1a;
    border: 0.4px solid #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
}

.search-bar {
    color: black;
    background-color: #F6F4F4;
    font-weight: 200;
    /* border: 0.4px solid white; */
    border-radius: 5px;
}

.search-category{
    width: auto;
}

.mt-2 {
    color: black;
}

.btn-primary{
    background-color: purple;
    border-color: purple;
}
  
.btn-primary:focus, .btn-primary:hover{
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}
.event-text {
    background-color: #ffffff;
}

@media screen and (max-width: 768px) {
    .form-item {
        flex-wrap: nowrap;
    }
    .card-title {
        font-size: 1.2rem;
    }
    .save {
        font-size: small;
        margin-left: 2px;
    }
    .event {
        font-size: 1.2rem;
    }
}
