body {
    background-color: #aaaaaa;
}

header {
    border-bottom: 1px solid gray;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 20px;
    background-image: url('../img/bg.jpg');
}

h2 {
    font-size: 1.8em;
    font-weight: 600;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
    color: purple;
}

.h6 {
    font-weight: 400;
    font-size: 0.75em;
    color: gray;

}

.search {
    background-color: #1a1a1a;
    border: 0.4px solid #1a1a1a;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
}

@media (max-width: 576px) {
    header{
        text-align: center;
    }
    
    .search-btn{
        margin: 0 auto;
    }

    .results{
        padding-left: 50px;
    }

    .container-2 {
        padding-left: 40px;
    }

    .city-name{
        margin-bottom: 5px;
    }

    .date{
        margin-top: 5px;
    }

    .event-text{
        text-align: center;
    }

   .event{
       display:unset;
       justify-content:unset;
       text-align: center;
    }
    
    .buttons{
        width: 45%;
        background-color: purple;
        color: white;
    }

    .fav-dis{
        text-align: center;
    }
    .cardEl{
        background-color: white;
    }
    
    .label{
        text-align: center;
        justify-content: space-around;
    }

    .btnEl{
        padding: 0;
        padding-top: 10px;
        margin: 0;
    }
}

.search-bar {
    color: black;
    background-color: gray;
    font-weight: 200;
    /* border: 0.4px solid white; */
    border-radius: 5px;
}

.search-category{
    width: auto;
}

.mt-2 {
    color: black;
}

.btn-primary{
    background-color: purple;
    border-color: purple;
}
  
.btn-primary:focus, .btn-primary:hover{
    background-color: rebeccapurple;
    border-color: rebeccapurple;
}